.product-card{
    height : 100%;
    width : 100%;
}
.product-card-image{

    width: 100%;
    height: 200px;
    /* aspect-ratio: 1 / 1; */
    object-fit: cover;
}

.navbar-main{
    background-color: rgb(10, 26, 28);
}

.navbar-main .navbar-toggler{
    background-color: rgb(6, 15, 17);
}

.navbar-main .nav-link, .navbar-main .navbar-brand{
    color: white;
}

.body-main{
    background-color: rgb(240, 240, 240);
}

.product-carousel{
    height: 500px;
}

.product-carousel img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}