{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block body %}
{% include "navbar.html" %}
<div class="p-2 mt-2 flex flex-col items-center ">
    <div class="border py-2 px-4 border-gray-300 rounded shadow flex flex-col gap-3">
        <h1 class=" text-2xl">Complete Purchase</h1>

        <!-- {% for item in cart.items.all %}
        <div class="">
            <div class="">
                <ul class="">
                    <li class="">Product : {{item.product.name}}</li>
                    <li class="">Quantity : {{item.quantity}} Total : Rs {{item.total_price}}</li>
                </ul>
            </div>
        </div>
        {% empty %}
                empty
        {% endfor %} -->

        <div class="">
            <p class="text-xl text-center">Total : Rs {{cart.cart_total}}</p>
        </div>
        <div class="flex flex-col gap-2">
            <p class="text-xl">Select Address</p>
            {% if addresses %}
            <form action="" method="post" class="flex flex-col gap-2">
                {% csrf_token %}
                <div class="border border-gray-300 p-2 flex flex-col gap-2">
                    {% for address in addresses %}
                    <div class="">
                        <label for="address_{{address.id}}" class="flex gap-3">
                            <input type="radio" name="address_id" id="address_{{address.id}}" value="{{address.id}}">
                            <div>
                                <p class="">{{address.first_name}} {{address.last_name}}</p>
                                <p class="">{{address.address_line_1}}, {{address.address_line_2}}</p>
                                <p class="">{{address.city}}</p>
                                <p class="">{{address.phone}}</p>
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="flex justify-center gap-2">
                    <button type="submit" class="py-1 px-2 rounded bg-purple-400 text-white">Place Order</button>
                    <a href="{% url 'add_address' %}?next={{ request.path }}" class="py-1 px-2 rounded bg-purple-400 text-white">Add New
                        Address</a>
                </div>
            </form>
            {% else %}
            <div class="alert alert-info">
                No addresses added yet.
            </div>
            <a href="{% url 'add_address' %}?next={{ request.path }}" class="btn btn-primary">Add New Address</a>
            {% endif %}

        </div>
    </div>

</div>
{% endblock %}