{% extends "base.html" %}

{% block title %}Edit Address{% endblock %}

{% block body %}
{% include "navbar.html" %}
    <div class="p-2 mt-3 flex flex-col items-center">
        <div class="border border-gray-300 p-2 rounded flex flex-col gap-3 shadow">
            
                <h1 class="text-2xl">Edit Address</h1>
                <form action="" method="post" class="flex flex-col gap-2">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="border border-gray-300 bg-blue-200 rounded p-4 shadow">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if form.errors %}
                    <div class="border border-gray-300 bg-red-400 rounded p-4 shadow">
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div>{{ error }}</div>
                        {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                        <div>{{ error }}</div>
                        {% endfor %}

                        
                    </div>
                    {% endif %}
                    <div class="">
                        <label class="">{{form.first_name.label}}</label>
                        {{form.first_name}}
                    </div>
                    <div class="">
                        <label class="">{{form.last_name.label}}</label>
                        {{form.last_name}}
                    </div>
                    <div class="">
                        <label class="">{{form.address_line_1.label}}</label>
                        {{form.address_line_1}}
                    </div>
                    <div class="">
                        <label class="">{{form.address_line_2.label}}</label>
                        {{form.address_line_2}}
                    </div>
                    <div class="">
                        <label class="">{{form.phone.label}}</label>
                        {{form.phone}}
                    </div>
                    <div class="">
                        <label class="">{{form.city.label}}</label>
                        {{form.city}}
                    </div>
                    <div class="">
                        <label class="">{{form.state.label}}</label>
                        {{form.state}}
                    </div>
                    <div class="">
                        <label class="">{{form.pincode.label}}</label>
                        {{form.pincode}}
                    </div>
                    <button class="rounded bg-purple-400 py-2 px-3 text-white text-lg" type="submit">Save</button>
                </form>

        </div>
    </div>
{% endblock %}