{% extends "base.html" %}

{% block title %}HOME{% endblock %}

{% block body %}
{% include "navbar.html" %}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, amet tenetur, illo obcaecati tempore quia veniam quo tempora, quam inventore ullam facilis. Dolores tempore dolorum enim facilis est accusantium laboriosam ipsam quas hic! Similique, dolor perferendis? Aliquid dicta, vel expedita est porro ducimus harum amet dignissimos cum asperiores necessitatibus minus fugit perferendis provident laborum adipisci nobis. Eveniet ipsum eaque non possimus! Explicabo assumenda, tempore a, quam laboriosam nostrum sapiente, nesciunt repudiandae in quo pariatur. Pariatur minus quasi libero.</p>

{% endblock %}