{% extends "base.html" %}

{% block title %}Order Success{% endblock %}

{% block body %}
{% include "navbar.html" %}
    <div class="p-2 mt-3 flex flex-col gap-2 items-center">
        <div class="border border-gray-300 rounded shadow p-3 flex flex-col gap-2">
            <h1 class="text-xl font-semibold">Order Placed</h1>
        {% for item in order_items %}
        <div class="border border-gray-300 rounded shadow p-3">
            
                <ul class="">
                    <li class="list-group-item">Product : {{item.product.name}}</li>
                    <li class="list-group-item">Product : {{item.variant.name}}</li>
                    <li class="list-group-item">Quantity : {{item.quantity}} Total : Rs {{item.price}}</li>
                </ul>
            
        </div>
        {% empty %}
                empty
        {% endfor %}
        <div class="border border-gray-300 rounded shadow p-3">
            <div class="col-sm-10 col-xl-6">
                <ul class="list-group mb-3">
                    <li class="list-group-item">Order Status : {{order.get_status_display}}</li>
                    <li class="list-group-item">Payment Status : {{order.get_payment_status_display}}</li>
                    <li class="list-group-item fw-bold">Grand Total : Rs {{order.price}}</li>
                </ul>
            </div>
        </div>
        <h3 class="text-xl font-semibold">Delivering to</h3>
        <div class="border border-gray-300 rounded shadow p-3">
                <ul class="list-group mb-2">
                    <li class="list-group-item">Name : {{order.name}}</li>
                    <li class="list-group-item">Ph : {{order.phone}}</li>
                    <li class="list-group-item">{{order.address_line_1}},{{order.address_line_2}}</li>
                    <li class="list-group-item">City : {{order.city}}, State : {{order.state}}, Pincode : {{order.pincode}}</li>
                </ul>
            </div>
            <a href="{% url 'home' %}" class="rounded bg-purple-500 py-2 px-3 text-xl text-center text-white">Continue Shopping</a>
        </div>
    </div>
{% endblock %}