{% extends "base.html" %}

{% block title %}Order Success{% endblock %}

{% block body %}
{% include "navbar.html" %}
    <div class="p-2 mt-3 flex flex-col gap-2 items-center">
        <div class="border border-gray-300 rounded shadow p-3 flex flex-col gap-2">
            <h1 class="text-2xl font-semibold">Order Placed</h1>
            <!-- <hr> -->
            <h2 class="text-xl font-semibold">Order Details</h2>
        {% for item in order_items %}
        <div class="border border-gray-300 rounded shadow p-3 flex items-center gap-4">
                <div class="">
                        <img src="{{item.variant.images.first.image.url}}" alt=""
                            class="h-24 w-24 object-cover overflow-hidden rounded shadow">
                    </div>
                <ul class="">
                    <li class="">Product : {{item.product.name}}</li>
                    <li class="">Variant : {{item.variant.name}}</li>
                    <li class="">Quantity : {{item.quantity}} Unit Price : Rs {{item.variant.get_price}}</li>
                </ul>
            
        </div>
        {% empty %}
                empty
        {% endfor %}
        <div class="border border-gray-300 rounded shadow p-3">
            
                <ul class="">
                    <li class="">Order Status : {{order.get_status_display}}</li>
                    <li class="">Payment Status : {{order.get_payment_status_display}}</li>
                    <li class="">Grand Total : Rs {{order.price}}</li>
                </ul>
            
        </div>
        <h2 class="text-xl font-semibold">Delivering to</h2>
        <div class="border border-gray-300 rounded shadow p-3">
                <ul class="">
                    <li class="">Name : {{order.name}}</li>
                    <li class="">Ph : {{order.phone}}</li>
                    <li class="">{{order.address_line_1}},{{order.address_line_2}}</li>
                    <li class="">City : {{order.city}}, State : {{order.state}}, Pincode : {{order.pincode}}</li>
                </ul>
            </div>
            <a href="{% url 'home' %}" class="rounded bg-purple-500 py-2 px-3 text-xl text-center text-white">Continue Shopping</a>
        </div>
    </div>
{% endblock %}