{% extends "base.html" %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}
{% include "navbar.html" %}
<div class="container py-2">
    <div class="row g-5">
        <div class="col-lg-6">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    {% for image in product.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %} product-carousel">
                        <img src="{{image.image.url}}" class="d-block w-100" alt="...">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6">
            <h1 class="fw-bold">{{product.name}}</h1>
            <h4>{{product.info}}</h4>
            <h4>Rs : {{product.price}}</h4>
        </div>
    </div>
</div>
{% endblock %}