{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
{% include "navbar.html" %}
<div class="mt-5 flex flex-col items-center">
    <div class="border border-gray-300 rounded flex flex-col gap-3 shadow  p-4">

        <h1 class=" text-2xl">Profile</h1>
        <ul class="flex flex-col gap-2">
            <li class="">First Name : {{user.first_name}}</li>
            <li class="">Last Name : {{user.last_name}}</li>
            <li class="">E-mail : {{user.email}}</li>
            <li class="">Date Joined : {{user.date_joined}}</li>
        </ul>
        <div class="flex gap-2 justify-between">
            <a class="rounded bg-purple-500 py-2 px-3 text-white" href="{% url 'view_address' %}">Addresses</a>
            <a class="rounded bg-purple-500 py-2 px-3 text-white" href="{% url 'customer_logout' %}">Logout</a>
        </div>

    </div>
</div>
{% endblock %}