{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="flex justify-center mx-auto min-h-screen items-center">
    
        <div class="border border-gray-300 rounded flex flex-col gap-3 p-4">
            
                <h1 class="text-2xl font-medium">Sign Up</h1>
                <form action="" method="post" class="flex flex-col gap-2">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="border border-gray-300 bg-blue-200 rounded p-4 shadow" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if form.errors %}
                    <div class="border border-gray-300 bg-red-400 rounded p-4 shadow" role="alert">
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div>{{ error }}</div>
                        {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                        <div>{{ error }}</div>
                        {% endfor %}

                        <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
                    </div>
                    {% endif %}
                    <div class="">
                        <label class="">{{form.first_name.label}}</label>
                        {{form.first_name}}
                    </div>
                    <div class="">
                        <label class="">{{form.last_name.label}}</label>
                        {{form.last_name}}
                    </div>
                    <div class="">
                        <label class="">{{form.username.label}}</label>
                        {{form.username}}
                    </div>
                    <div class="">
                        <label class="">{{form.email.label}}</label>
                        {{form.email}}
                    </div>
                    <div class="">
                        <label class="">{{form.password.label}}</label>
                        {{form.password}}
                    </div>
                    <button class="rounded px-3 py-2 bg-purple-500 text-white text-xl" type="submit">Sign Up</button>
                    <div class="text-center">
                        <a href="{% url 'customer_login'  %}" class="text-blue-400">Already have an account?</a>
                    </div>
                </form>
            
        </div>
    
</div>
{% endblock %}