{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
{% include "navbar.html" %}
<div class="p-2 mt-3 flex flex-col items-center">
    <div class="border border-gray-300 p-4 rounded flex flex-col gap-3 shadow">
        {% if addresses %}
        <h1 class="text-2xl">Your addresses</h1>
        {% for address in addresses %}
        <div class="flex flex-col gap-2 border border-gray-300 p-2 rounded">
            <ul class="">
                <li class="">First Name : {{address.first_name}}</li>
                <li class="">Last Name : {{address.last_name}}</li>
                <li class="">Address Line 1 : {{address.address_line_1}}</li>
                <li class="">Address Line 2 : {{address.address_line_2}}</li>
                <li class="">Phone : {{address.phone}}</li>
                <li class="">City : {{address.city}}</li>
                <li class="">State : {{address.state}}</li>
                <li class="">Pincode : {{address.pincode}}</li>

            </ul>
            <div class="flex justify-between gap-2">
                <a href="{% url 'delete_address' pk=address.pk %}"
                    class="rounded bg-red-500 text-white py-2 px-3">Delete Address</a>
                <a href="{% url 'edit_address' pk=address.pk %}" class="rounded bg-purple-500 text-white py-2 px-3">Edit
                    Address</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="border border-gray-300 rounded shadow p-3">
            <p>No addresses added yet.</p>
        </div>
        {% endif %}
            <a href="{% url 'add_address' %}" class="rounded bg-purple-500 text-white py-2 px-3 text-center">Add Address</a>
        
    </div>
</div>
{% endblock %}