<nav class="sticky top-0 z-50 bg-purple-800 shadow-sm">

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

        <div class="h-20 flex items-center justify-between gap-4">


            <!-- Brand -->
            <a href="{% url 'home' %}" class="flex flex-col shrink-0">

                <span class="text-xl font-bold tracking-widest text-white">
                    ORVIUS
                </span>

                <span class="text-xs text-purple-200">
                    Discover more. Choose better.
                </span>

            </a>



            <!-- Search -->
            <form class="hidden md:flex flex-1 max-w-xl" action="{% url 'search' %}" method="GET">

                <div class="flex w-full bg-white  overflow-hidden">

                    <input class="flex-1 px-4 py-2 text-sm outline-none" type="search" placeholder="Search products"
                        name="q">


                    <button class="px-5 bg-purple-600 text-white hover:bg-purple-700 transition" type="submit">

                        <i class="bi bi-search"></i>

                    </button>

                </div>

            </form>




            <!-- Desktop navigation -->

            <div class="hidden lg:flex items-center gap-6">


                <a href="{% url 'home' %}" class="text-sm text-white hover:text-purple-200 transition">
                    Home
                </a>


                <a href="{% url 'cart' %}" class="text-sm text-white hover:text-purple-200 transition">

                    <i class="bi bi-cart"></i>
                    Cart

                </a>



                <a href="{% url 'orders' %}" class="text-sm text-white hover:text-purple-200 transition">

                    Orders

                </a>



                <a href="{% url 'profile' %}" class="text-sm text-white hover:text-purple-200 transition">

                    Profile

                </a>


            </div>




            <!-- Mobile button -->

            <button id="menu-btn" class="lg:hidden text-white text-2xl">

                ☰

            </button>


        </div>


    </div>



    <!-- Mobile menu -->

    <div id="mobile-menu" class="hidden lg:hidden bg-purple-900 px-4 pb-5">


        <div class="flex flex-col gap-3 pt-3">


            <a class="text-white" href="{% url 'home' %}">
                Home
            </a>


            <a class="text-white" href="{% url 'cart' %}">
                Cart
            </a>


            <a class="text-white" href="{% url 'orders' %}">
                Orders
            </a>


            <a class="text-white" href="{% url 'profile' %}">
                Profile
            </a>


        </div>

    </div>


</nav>



<script>

    const button = document.getElementById("menu-btn");
    const menu = document.getElementById("mobile-menu");


    button.addEventListener("click", () => {

        menu.classList.toggle("hidden");

    });

</script>